<template>
  <div class="content-wrapper pa-6">

      <v-row>

        <v-col cols="12" sm="6" lg="3">
          <v-card
            class="card-scoreboard list rounded-0"
            color="#ffffff"
          >
            <div class="mb-6 px-4">
              <div class="text-overline mb-3">CIC Vulnerability Stats</div>

              <div class="d-sm-flex justify-sm-space-between">
                <div>
                  <span class="text-subtitle-1 font-weight-light">Total vulnerabilities</span>
                  <span class="d-block text-h3">{{ totalVulns }}</span>
                </div>

                <div>
                  <span class="text-subtitle-1 font-weight-light">Total assets</span>
                  <span class="d-block text-h3">{{ totalAssets }}</span>
                </div>
              </div>
            </div>            


            <div class="d-flex align-items-end flex-column">
              <div class="mt-auto">
                <v-list-item>
                  <v-list-item-content class="py-0">
                    <div class="text-overline">Asset types</div>
                  </v-list-item-content>
                </v-list-item>

                <v-list class="transparent">
                  <template v-for="(item, key, index) in assetTypes">
                    <v-divider
                        :key="`divider-${index}`"
                        class="grey darken-3"
                    ></v-divider>

                    <v-list-item class="py-2" :key="`item-${index}`">
                      <v-list-item-title class="text-body-2">{{ key }} ({{ item.type }})</v-list-item-title>
                      <v-list-item-subtitle class="text-right text-body-2">{{ item.value }}</v-list-item-subtitle>
                    </v-list-item>
                  </template>

                </v-list>
              </div>
            </div>
          </v-card>
        </v-col>


        <v-col cols="12" sm="6" lg="3">
          <v-card
            class="card-scoreboard list rounded-0"
            color="#ffffff"
          >
            <div class="mb-6 px-4">
              <div class="text-overline mb-3">SG Stats On Completion</div>

              <div>
                <span class="text-subtitle-1 font-weight-light">AVG turn finished per team</span>

                <v-list class="transparent">
                  <template v-for="(item, key, index) in sgSocTeamsTurnFinishedData">
                    <v-divider
                        :key="`divider-${index}`"
                        class="grey darken-3"
                    ></v-divider>

                    <v-list-item class="py-2" :key="`item-${index}`">
                      <v-list-item-title class="text-body-2">{{ key }}</v-list-item-title>
                      <v-list-item-subtitle class="text-right text-body-2">{{ (item.totalTurns/item.totalRounds).toFixed(2) }}</v-list-item-subtitle>
                    </v-list-item>
                  </template>
                </v-list>
              </div>

              <div>
                <span class="text-subtitle-1 font-weight-light">AVG turn finished per network asset</span>
                
                <v-list class="transparent">
                  <template v-for="(item, key, index) in sgSocNetworkAssetsTurnFinishedData">
                    <v-divider
                        :key="`divider-${index}`"
                        class="grey darken-3"
                    ></v-divider>

                    <v-list-item class="py-2" :key="`item-${index}`">
                      <v-list-item-title class="text-body-2">{{ key }}</v-list-item-title>
                      <v-list-item-subtitle class="text-right text-body-2">{{ (item.totalTurns/item.totalRounds).toFixed(2) }}</v-list-item-subtitle>
                    </v-list-item>
                  </template>
                </v-list>
              </div>
            </div>


            <div class="px-4">
              <div class="text-overline">Last message received</div>
              <div>{{ sgSocMessage }}</div>
            </div>

          </v-card>
        </v-col>


        <v-col cols="12" sm="6" lg="3">
          <v-card
            class="card-scoreboard list rounded-0"
            color="#ffffff"
          >
            <div class="mb-6 px-4">
              <div class="text-overline mb-3">CIC Selection Evaluation</div>

              <div class="d-sm-flex justify-sm-space-between">
                <div>
                  <span class="text-subtitle-1 font-weight-light">Residual risk</span>
                  <span class="d-block text-h3">{{ cicSelEvalResidualRisk }}</span>
                </div>

                <div>
                  <span class="text-subtitle-1 font-weight-light">Cost</span>
                  <span class="d-block text-h3">{{ cicSelEvalCost }}</span>
                </div>
              </div>
            </div>


            <div class="d-flex align-items-end flex-column px-4">
              <div class="mt-auto">
                <div class="text-overline">Last message received</div>
                <div>{{ cicSelEvalMessage }}</div>
              </div>
            </div>

          </v-card>
        </v-col>


        <v-col cols="12" sm="6" lg="3">
          <v-card
            class="card-scoreboard list rounded-0"
            color="#ffffff"
          >
            <div class="mb-6 px-4">
              <div class="text-overline mb-3">CIC Model Results</div>

              <div class="d-sm-flex justify-sm-space-between">
                <div>
                  <span class="text-subtitle-1 font-weight-light">Residual risk</span>
                  <span class="d-block text-h3">{{ cicModResResidualRisk }}</span>
                </div>

                <div>
                  <span class="text-subtitle-1 font-weight-light">Cost</span>
                  <span class="d-block text-h3">{{ cicModResCost }}</span>
                </div>
              </div>
            </div>


            <div class="d-flex align-items-end flex-column px-4">
              <div class="mt-auto">
                <div class="text-overline">Last message received</div>
                <div>{{ cicModResMessage }}</div>
              </div>
            </div>

          </v-card>
        </v-col>


        <!-- <v-col cols="12" sm="6" lg="3">
          <v-card
            color="#221c44"
            elevation="3"
          >
            
            <v-list class="list">
              <v-subheader class="text-subtitle-1 justify-center white--text font-weight-regular">Vulnerability list</v-subheader>

              <v-list-item-group class="list-item-group">
                <v-list-item
                  v-for="(item, index) in vulnerabilityListItems"
                  :key="index"
                  @click="sendMsg(item.title)"
                  class="list-item"
                >
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-col> -->

        
      </v-row>

  </div>
</template>

<script>
export default {
  name: "Dashboard",
  data() {
    const vulnerabilityListItems = [
      {
        title: "CVE - 123",
        icon: "",
      },
      {
        title: "CVE - 919",
        icon: "",
      },
      {
        title: "CVE - 101",
        icon: "",
      },
      {
        title: "CVE - 81",
        icon: "",
      },
    ];

    const scenarioId = null;
    const totalVulns = 0;
    const totalAssets = 0;
    const assetTypes = {};
    const cicSelEvalResidualRisk = 0;
    const cicSelEvalCost = 0;
    const cicSelEvalMessage = "";
    const cicModResResidualRisk = 0;
    const cicModResCost = 0;
    const cicModResMessage = "";
    const sgSocTeamsTurnFinishedData = {};
    const sgSocNetworkAssetsTurnFinishedData = {};
    const sgSocMessage = "";


    return {
      vulnerabilityListItems,
      scenarioId,
      totalVulns,
      totalAssets,
      assetTypes,
      cicSelEvalResidualRisk,
      cicSelEvalCost,
      cicSelEvalMessage,
      cicModResResidualRisk,
      cicModResCost,
      cicModResMessage,
      sgSocTeamsTurnFinishedData,
      sgSocNetworkAssetsTurnFinishedData,
      sgSocMessage,
    };
  },
  created() {
    if(Object.keys(this.$route.query).length !== 0) {
      if('scenarioid' in this.$route.query) {
        this.scenarioId = this.$route.query.scenarioid;
      }
    }


    this.webSocketInvoke();
  },
  mounted() {
    
  },
  methods: {
    webSocketInvoke () {
      if ('WebSocket' in window) {
          console.log('WebSocket is supported by your Browser!');

          const ws = new WebSocket('ws://localhost:3001/', "echo-protocol");
          // const ws2 = new WebSocket('ws://localhost:3002/', 'echo-protocol2');
          // const ws3 = new WebSocket('ws://localhost:3003/', 'echo-protocol3');
          // const ws4 = new WebSocket('ws://localhost:3004/', 'echo-protocol4');


          ws.onopen = () => {
              console.log('Connection created');
          };
          // ws2.onopen = () => {
          //     console.log('Connection 2 created');
          // };
          // ws3.onopen = () => {
          //     console.log('Connection 3 created');
          // };
          // ws4.onopen = () => {
          //     console.log('Connection 4 created');
          // };


          ws.onmessage = (evt) => {
            const receivedData = evt.data;
            const receivedDataObj = JSON.parse(receivedData);
            const receivedDataValue = JSON.parse(receivedDataObj.value);
            const message = JSON.parse(receivedDataValue.msg);
            
            console.log(message);


            if(this.scenarioId !== null && this.scenarioId == message['scenarioid']) {
              
              if('SG_stats_on_completion' == receivedDataObj['topicName']) {
                var msgLogs = message['logs'];

                for(var i=0; i<msgLogs.length; i++) {
                  var currentLog = msgLogs[i];

                  if("" !== currentLog['message']) {
                    this.sgSocMessage = currentLog['message'];
                  }
                  
                  if(Object.prototype.hasOwnProperty.call(this.sgSocTeamsTurnFinishedData, currentLog['team'])) {
                      this.sgSocTeamsTurnFinishedData[currentLog['team']]['totalTurns'] += currentLog['turnFinished'];
                      this.sgSocTeamsTurnFinishedData[currentLog['team']]['totalRounds'] += 1;
                  }
                  else {
                      this.sgSocTeamsTurnFinishedData[currentLog['team']] = {
                          totalTurns: currentLog['turnFinished'],
                          totalRounds: 1
                      };
                  }
                  
                  if(Object.prototype.hasOwnProperty.call(this.sgSocNetworkAssetsTurnFinishedData, currentLog['networkAsset'])) {
                      this.sgSocNetworkAssetsTurnFinishedData[currentLog['networkAsset']]['totalTurns'] += currentLog['turnFinished'];
                      this.sgSocNetworkAssetsTurnFinishedData[currentLog['networkAsset']]['totalRounds'] += 1;
                  }
                  else {
                      this.sgSocNetworkAssetsTurnFinishedData[currentLog['networkAsset']] = {
                          totalTurns: currentLog['turnFinished'],
                          totalRounds: 1
                      };
                  }
                }
              }

              if('cic_vulnerability_stats' == receivedDataObj['topicName']) {
                this.totalVulns += message['stats']['total_vuln_over_time'][0]['total_vuln'];
                
                if(Object.prototype.hasOwnProperty.call(message, "assets")) {
                  var assets = message['assets'];
                  this.totalAssets += assets.length;

                  for(var k=0; k<assets.length; k++) {
                    var currentAsset = assets[k];

                    if(Object.prototype.hasOwnProperty.call(this.assetTypes, currentAsset['id'])) {
                      this.assetTypes[currentAsset['id']]['value'] += currentAsset['value'];
                    }
                    else {
                      this.assetTypes[currentAsset['id']] = {
                        type: currentAsset['type'],
                        value: currentAsset['value']
                      };
                    }
                  }
                }
              }

              if('cic_selection_evaluation' == receivedDataObj['topicName']) {
                this.cicSelEvalResidualRisk += message['residualrisk'];
                this.cicSelEvalCost += message['cost'];

                if("" !== message['msg']) {
                  this.cicSelEvalMessage = message['msg'];
                }
              }

              if('cic_model_results' == receivedDataObj['topicName']) {
                this.cicModResResidualRisk += message['selection'][0]['residualrisk'];
                this.cicModResCost += message['selection'][0]['costs'];

                if("" !== message['selection'][0]['msg']) {
                  this.cicModResMessage = message['selection'][0]['msg'];
                }
              }

            }
          };
          // ws2.onmessage = (evt) => {
          //   const received_msg = evt.data;
          //   const payload = JSON.parse(received_msg);
          //   const payloadMsg = JSON.parse(payload.msg);

          //   console.log(payloadMsg);

          //   if(this.scenarioId !== null && this.scenarioId == payloadMsg['scenarioid']) {
          //     this.cicSelEvalResidualRisk += payloadMsg['residualrisk'];
          //     this.cicSelEvalCost += payloadMsg['cost'];
          //     this.cicSelEvalMessage = payloadMsg['msg'];
          //   }
          // };
          // ws3.onmessage = (evt) => {
          //   const received_msg = evt.data;
          //   const payload = JSON.parse(received_msg);
          //   const payloadMsg = JSON.parse(payload.msg);

          //   console.log(payloadMsg);

          //   if(this.scenarioId !== null && this.scenarioId == payloadMsg['scenarioid']) {
          //     this.totalVulns += payloadMsg['stats']['total_vuln_over_time'][0]['total_vuln'];
          //     this.totalAssets += payloadMsg['assets'].length;
          //     this.assetTypes = payloadMsg['assets'];
          //   }
          // };
          // ws4.onmessage = (evt) => {
          //   const received_msg = evt.data;
          //   const payload = JSON.parse(received_msg);
          //   const payloadMsg = JSON.parse(payload.msg);

          //   console.log(payloadMsg);

          //   if(this.scenarioId !== null && this.scenarioId == payloadMsg['scenarioid']) {
          //     this.cicModResResidualRisk += payloadMsg['selection'][0]['residualrisk'];
          //     this.cicModResCost += payloadMsg['selection'][0]['costs'];
          //     this.cicModResMessage = payloadMsg['selection'][0]['msg'];
          //   }
          // };


          ws.onclose = () => {
              console.log('Connection closed');
          };
          // ws2.onclose = () => {
          //   console.log('Connection 2 closed');
          // };
          // ws3.onclose = () => {
          //   console.log('Connection 3 closed');
          // };
          // ws4.onclose = () => {
          //   console.log('Connection 4 closed');
          // };
      }
      else {
          console.log('WebSocket NOT supported by your Browser!');
      }
    },
    sendMsg(title) {
      const payload = { title: title };
      console.log(payload);

      // axios
      //   .post("http://localhost:3030/messages", payload)
      //   .then((response) => response.data)
      //   .catch((error) => {
      //     this.errorMessage = error.message;
      //     console.error("There was an error!", error);
      //   });
    },
    getKeyByValue(object, value) {
      // return Object.keys(object).find(key => object[key] === value);
      return Object.keys(object).filter(key => object[key] === value);
    }
  },
};
</script>


<style scoped>
.content-wrapper {
  min-height: 100%;
  background-color: #100C2A;
}
.chartPie,
.chartBar,
.chartLine,
.list {
  /* height: 43vh;
  min-height: 300px; */
  height: 50vh;
  min-height: 400px;
}
.standingsPie,
.standingsPie .v-data-table__wrapper {
  height: 300px;
}
.list {
  overflow-y: auto;
}
.v-card,
.list,
.list-item-group {
  background-color: #221c44 !important;
}
.list-item {
  color: #ffffff !important;
  background-color: #221c44 !important;
  border-bottom: 1px solid #332a66 !important;
}

@media (min-width: 600px) {
  .d-flex.align-items-end.flex-column {
    height: 50%;
  }
}
.card-scoreboard {
  height: 100%;
}
.card-scoreboard .v-list-item {
  min-height: auto !important;
}
.card-scoreboard,
.card-scoreboard *,
.card-scoreboard .v-list-item__subtitle,
.card-scoreboard .v-list-item__action-text {
  color: #ffffff !important;
}
.card-scoreboard .v-list-item__icon {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.v-icon.xx-large {
  font-size: 62px;
}

.data-table {
  background-color: #0c0920 !important;
}
.data-table th {
  color: #ffffff !important;
  background-color: #0c0920 !important;
  border-bottom: 1px solid #332a66 !important;
}
.data-table td {
  color: #ffffff !important;
  background-color: #221c44 !important;
  border-bottom: 1px solid #332a66 !important;
}

/* .btn {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
} */
</style>
