<template>
  <div class="content-wrapper pa-6">

      <v-row>

        <v-col cols="12" sm="6" lg="3">
          <v-card
            class="card-scoreboard list rounded-0"
            color="#ffffff"
          >
            <div class="mb-6 px-4">
              <div class="text-overline mb-3">CIC Vulnerability Stats</div>

              <div class="d-sm-flex justify-sm-space-between">
                <div>
                  <span class="text-subtitle-1 font-weight-light">Total vulnerabilities</span>
                  <span class="d-block text-h3">{{ totalVulns }}</span>
                </div>

                <div>
                  <span class="text-subtitle-1 font-weight-light">Total assets</span>
                  <span class="d-block text-h3">{{ totalAssets }}</span>
                </div>
              </div>
            </div>            


            <div class="d-flex align-items-end flex-column">
              <div class="mt-auto">
                <v-list-item>
                  <v-list-item-content class="py-0">
                    <div class="text-overline">Asset types</div>
                  </v-list-item-content>
                </v-list-item>

                <v-list class="transparent">
                  <template v-for="(item, index) in assetTypes">
                    <v-divider
                        :key="`divider-${index}`"
                        class="grey darken-3"
                    ></v-divider>

                    <v-list-item class="py-2" :key="`item-${index}`">
                      <v-list-item-title class="text-body-2">{{ item.id }} ({{ item.type }})</v-list-item-title>
                      <v-list-item-subtitle class="text-right text-body-2">{{ item.value }}</v-list-item-subtitle>
                    </v-list-item>
                  </template>

                </v-list>
              </div>
            </div>


          </v-card>
        </v-col>




        <v-col cols="12" sm="6" lg="3">
          <v-card
            color="#221c44"
            elevation="3"
          >
            
            <v-list class="list">
              <v-subheader class="text-subtitle-1 justify-center white--text font-weight-regular">Vulnerability list</v-subheader>

              <v-list-item-group class="list-item-group">
                <v-list-item
                  v-for="(item, index) in vulnerabilityListItems"
                  :key="index"
                  @click="sendMsg(item.title)"
                  class="list-item"
                >
                  <!-- <v-list-item-icon>
                  <v-icon dark color="#7E6990" v-text="item.icon"></v-icon>
                </v-list-item-icon> -->

                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-col>


        <!-- <v-col cols="12" sm="4" lg="3">
          <v-card
            class="card-scoreboard rounded-0"
            color="#ffffff"
          >
            <v-list-item class="mb-2">
              <v-list-item-content>
                <div class="text-overline mb-3">Winning Team</div>
                <v-list-item-title class="text-h5 font-weight-light">Blue</v-list-item-title>
                <v-list-item-subtitle class="text-h4">23 wins</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                size="80"
              >
                <v-icon
                  class="xx-large"
                  color="yellow darken-2"
                >
                  mdi-trophy-award
                </v-icon>
              </v-list-item-avatar>
            </v-list-item>


            <div class="d-flex align-items-end flex-column">
              <v-list class="transparent mt-auto">
                <v-list-item>
                  <v-list-item-icon class="mr-2"><v-icon small>mdi-heart</v-icon></v-list-item-icon>
                  <v-list-item-title class="text-body-2">Company health</v-list-item-title>
                  <v-list-item-subtitle class="text-right text-body-2">100</v-list-item-subtitle>
                </v-list-item>

                <v-list-item>
                  <v-list-item-icon class="mr-2"><v-icon small>mdi-cash-multiple</v-icon></v-list-item-icon>
                  <v-list-item-title class="text-body-2">Running costs</v-list-item-title>
                  <v-list-item-subtitle class="text-right text-body-2">1500</v-list-item-subtitle>
                </v-list-item>

                <v-list-item>
                  <v-list-item-icon class="mr-2"><v-icon small>mdi-cash</v-icon></v-list-item-icon>
                  <v-list-item-title class="text-body-2">Single cost cash</v-list-item-title>
                  <v-list-item-subtitle class="text-right text-body-2">14000</v-list-item-subtitle>
                </v-list-item>
              </v-list>
            </div>


          </v-card>
        </v-col> -->

        <!-- <v-col cols="12" sm="4" lg="3">
          <v-card
            color="#221c44"
            elevation="3"
          >
            <v-chart class="chartPie standingsPie" ref="chartPie2" autoresize :option="optionPie2" />
          </v-card>
        </v-col> -->

        <!-- <v-col cols="12" sm="4" lg="3">
          <v-simple-table
            fixed-header
            height="300px"
            class="standingsPie data-table"
          >
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-right">Participations</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in playerListItems"
                  :key="index"
                >
                  <td>{{ item.name }}</td>
                  <td class="text-right">{{ item.participations }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col> -->

        <!-- <v-col cols="12" sm="4" lg="3">
          <v-card
            color="#221c44"
            elevation="3"
          >
            <v-chart class="standingsPie chartBar" ref="chartBar4" autoresize :option="optionBar4" />
          </v-card>
        </v-col> -->

        <v-col cols="12" lg="6">
          <v-card
            color="#221c44"
            elevation="3"
          >
            <v-chart class="chartBar" ref="chartBar" autoresize :option="optionBar" />
          </v-card>
        </v-col>

        <!-- <v-col cols="12" sm="4">
          <v-card
            color="#221c44"
            elevation="3"
          >
            <v-chart class="chartBar" ref="chartBar3" autoresize :option="optionBar3" />
          </v-card>
        </v-col>

        <v-col cols="12" sm="4">
          <v-card
            color="#221c44"
            elevation="3"
          >
            <v-chart class="chartPie" ref="chartPie" autoresize :option="optionPie" />
          </v-card>
        </v-col> -->

        <!-- <v-col cols="12" sm="8">
          <v-card
            color="#221c44"
            elevation="3"
          >
            <v-chart id="chart-line" class="chartLine" autoresize :option="optionLine" />
          </v-card>
        </v-col> -->

        

      </v-row>

  </div>
</template>

<script>
import { use } from "echarts/core";
import { CanvasRenderer } from "echarts/renderers";
import { BarChart, LineChart, PieChart } from "echarts/charts";
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent,
} from "echarts/components";
import { default as VChart, THEME_KEY } from "vue-echarts";
// import axios from "axios";

use([
  CanvasRenderer,
  BarChart,
  LineChart,
  PieChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent,
]);

export default {
  name: "Dashboard",
  components: {
    VChart,
  },
  provide: {
    [THEME_KEY]: "dark",
  },
  data() {
    const optionPie = {
      backgroundColor: '#221c44',
      title: {
        top: 10,
        left: "center",
        text: "Vulnerability severity",
        textStyle: {
          fontWeight: "normal"
        },
      },
      tooltip: {
        trigger: 'item'
      },
      series: [
        {
          name: "vulnerability_severity",
          type: "pie",
          radius: "60%",
          center: ["50%", "55%"],
          data: []
          // data: [
          //   { value: 1048, name: 'Search Engine' },
          //   { value: 735, name: 'Direct' },
          //   { value: 580, name: 'Email' },
          //   { value: 484, name: 'Union Ads' },
          //   { value: 300, name: 'Video Ads' }
          // ],
        },
      ],
      // color: ["#f7f745", "#ef8828", "#f00000"],
    };

    const optionPie2 = {
      backgroundColor: '#221c44',
      title: {
        top: 10,
        left: "center",
        text: "Team standings",
        textStyle: {
          fontWeight: "normal"
        },
      },
      tooltip: {
        trigger: 'item',
        formatter: "{c}",
      },
      legend: {
        bottom: '5%',
        left: 'center'
      },
      series: [
        {
          name: "team_standings",
          type: "pie",
          radius: ['35%', '60%'],
          avoidLabelOverlap: false,
          label: {
            show: false,
            position: 'center'
          },
          emphasis: {
            label: {
              show: true,
              fontSize: '24',
              fontWeight: 'bold'
            }
          },
          labelLine: {
            show: false
          },
          data: []
          // data: [
          //   { value: 1048, name: 'Search Engine' },
          //   { value: 735, name: 'Direct' },
          //   { value: 580, name: 'Email' },
          // ],
        },
      ],
      // color: ["#f7f745", "#ef8828", "#f00000"],
    };

    const optionLine = {
      backgroundColor: '#221c44',
      title: {
        top: 10,
        left: "center",
        text: "Vulnerabilities over time",
        textStyle: {
          fontWeight: "normal"
        },
      },
      tooltip: {
        trigger: "item",
        formatter: "{b}: {c}",
      },
      xAxis: [
        {
          type: "category",
          data: []
          // data: [2015, 2016, 2017, 2018, 2019, 2020, 2021]
        },
      ],
      yAxis: [
        {
          type: "value"
        }
      ],
      series: [
        {
          name: "vulnerability_1",
          type: "line",
          data: []
          // data: [120, 132, 101, 134, 90, 230, 210]
        },
        {
          name: "vulnerability_2",
          type: "line",
          data: []
          // data: [220, 182, 191, 234, 290, 330, 310]
        },
      ],
    };

    const optionBar = {
      backgroundColor: '#221c44',
      title: {
        top: 10,
        left: "center",
        text: "CIC EVALUATION",
        textStyle: {
          fontSize: 11,
          fontWeight: "bold"
        },
        // subtext: "Residual Risk per message",
        subtextStyle: {
          fontSize: 20
        },
      },
      grid: {
        bottom: "12%",
        height: "60%"
      },
      tooltip: {
        trigger: "item",
        formatter: "{b}: {c}",
      },
      xAxis: [
        {
          type: "category",
          data: []
          // data: ['Virtual', 'Physical']
        },
      ],
      yAxis: [
        { type: "value" }
      ],
      series: [
        {
          name: "number_of_assets",
          type: "bar",
          data: []
          // data: [54, 101]
        },
      ],
    };

    const optionBar3 = {
      backgroundColor: '#221c44',
      title: {
        top: 10,
        left: "center",
        text: "Total tasks per network asset",
        textStyle: {
          fontWeight: "normal"
        },
      },
      grid: {
        bottom: "12%",
        height: "60%"
      },
      tooltip: {
        trigger: "item",
        formatter: "{c}",
      },
      xAxis: {
        type: 'category',
        data: []
        // data: ['Internet', 'Global']
      },
      yAxis: [
        { type: "value" }
      ],
      series: [{
        name: "total_tasks_per_network_asset",
        type: 'bar',
        data: []
        // data: [264, 339]
      }]
    };

    const optionBar4 = {
      backgroundColor: '#221c44',
      title: {
        top: 10,
        left: "center",
        text: "Turn-Finished average",
        textStyle: {
          fontWeight: "normal"
        },
      },
      tooltip: {
        trigger: "item",
        formatter: "{c}",
      },
      xAxis: {
        type: 'category',
        axisLabel: { rotate: 25 },
        data: []
        // data: ['Osint', 'Map asset inventory', 'Host scan', 'Vulnerability assessment']
      },
      yAxis: [
        { type: "value" }
      ],
      series: [{
        name: "turn_finished_average",
        type: 'bar',
        data: [],
        // data: [99, 114, 126, 79]
      }]
    };

    const vulnerabilityListItems = [
      {
        title: "CVE - 123",
        icon: "",
      },
      {
        title: "CVE - 919",
        icon: "",
      },
      {
        title: "CVE - 101",
        icon: "",
      },
      {
        title: "CVE - 81",
        icon: "",
      },
    ];

    const playerListItems = [
      {
        name: "Caleb",
        participations: 12,
        icon: "",
      },
      {
        name: "David",
        participations: 11,
        icon: "",
      },
      {
        name: "Aarav",
        participations: 8,
        icon: "",
      },
      {
        name: "Takumi",
        participations: 8,
        icon: "",
      },
      {
        name: "Mathias",
        participations: 4,
        icon: "",
      },
      {
        name: "Paul",
        participations: 2,
        icon: "",
      },
      {
        name: "Nick",
        participations: 1,
        icon: "",
      },
    ];

    const totalVulns = 0;
    const totalAssets = 0;
    const assetTypes = {};

    return {
      optionPie,
      optionPie2,
      optionLine,
      optionBar,
      optionBar3,
      optionBar4,
      vulnerabilityListItems,
      playerListItems,
      totalVulns,
      totalAssets,
      assetTypes,
    };
  },
  created() {
    // this.webSocketInvoke()
  },
  mounted() {
    this.webSocketInvoke();
  },
  methods: {
    webSocketInvoke () {
        if ('WebSocket' in window) {
            console.log('WebSocket is supported by your Browser!');
            // const ws = new WebSocket('ws://localhost:3001/', 'echo-protocol');
            const ws2 = new WebSocket('ws://localhost:3002/', 'echo-protocol2');
            const ws3 = new WebSocket('ws://localhost:3003/', 'echo-protocol3');
            // const ws4 = new WebSocket('ws://localhost:3004/', 'echo-protocol4');
            // const ws5 = new WebSocket('ws://localhost:3005/', 'echo-protocol5');
            // const ws6 = new WebSocket('ws://localhost:3006/', 'echo-protocol6');

            // ws.onopen = () => {
            //     console.log('Connection created');
            // };
            ws2.onopen = () => {
                console.log('Connection 2 created');
            };
            ws3.onopen = () => {
                console.log('Connection 3 created');
            };
            // ws4.onopen = () => {
            //     console.log('Connection 4 created');
            // };
            // ws5.onopen = () => {
            //     console.log('Connection 5 created');
            // };
            // ws6.onopen = () => {
            //     console.log('Connection 6 created');
            // };

            // ws.onmessage = (evt) => {
            //     const received_msg = evt.data;
            //     const payload = JSON.parse(received_msg);
            //     const payloadMsg = JSON.parse(payload.msg);

            //     console.log(payloadMsg);
            //     console.log(payloadMsg['stats']);

            //     // if(this.optionLine.xAxis[0].data.includes(payloadMsg['year']) == false) {
            //     //   this.optionLine.xAxis[0].data.push(payloadMsg['year']);
            //     // }
            //     // this.optionLine.series[0].data.push(payloadMsg['total_vuln_over_time'][0]['total_vuln']);
            //     // this.optionLine.series[1].data.push(payloadMsg['total_vuln_over_time'][1]['total_vuln']);

            //     if(this.optionLine.xAxis[0].data.includes(payloadMsg['stats']['total_vuln_over_time'][0]['ts']) == false) {
            //       this.optionLine.xAxis[0].data.push(payloadMsg['stats']['total_vuln_over_time'][0]['ts']);
            //     }
            //     this.optionLine.series[0].data.push(payloadMsg['stats']['total_vuln_over_time'][0]['total_vuln']);
            // };
            ws2.onmessage = (evt) => {
                const received_msg = evt.data;
                const payload = JSON.parse(received_msg);
                const payloadMsg = JSON.parse(payload.msg);
                const chartBar = this.$refs.chartBar;
                const xAxisData = [];
                const seriesObj = {};
                // let totalAssets = 0;

                console.log(payloadMsg);

                // for(var i=0; i<payloadMsg['assets'].length; i++) {
                //   if(this.optionBar.xAxis[0].data.includes(payloadMsg['assets'][i]['category']) == false) {
                //     // this.optionBar.xAxis[0].data.push(payloadMsg['assets'][i]['category']);
                //     xAxisData.push(payloadMsg['assets'][i]['category']);
                //   }

                //   // const categoryKey = this.getKeyByValue(this.optionBar.xAxis[0].data, payloadMsg['assets'][i]['category']);
                //   const categoryKey = this.getKeyByValue(xAxisData, payloadMsg['assets'][i]['category']);

                //   if(categoryKey) {
                //     totalAssets += parseInt(payloadMsg['assets'][i]['value']);
                //     seriesData[categoryKey] = payloadMsg['assets'][i]['value'];
                //     // this.optionBar.series[0].data[categoryKey] = payloadMsg['assets'][i]['value'];
                //   }
                // }



                for(var i=0; i<payloadMsg.length; i++) {
                  xAxisData.push(payloadMsg[i]['messageid']);
                  seriesObj[payloadMsg[i]['messageid']] = payloadMsg[i]['residualrisk'];
                }

                const seriesData = Object.keys(seriesObj).map((key) => [key, seriesObj[key]]);


                // Set data dynamically
                const option = {
                  title: {
                    subtext: payloadMsg[0]['userid']
                  },
                  xAxis: {
                    data: xAxisData
                  },
                  series: [{
                      data: seriesData
                  }]
                };

                chartBar.setOption(option);
            };
            ws3.onmessage = (evt) => {
                const received_msg = evt.data;
                const payload = JSON.parse(received_msg);
                const payloadMsg = JSON.parse(payload.msg);

                console.log(payloadMsg);

                this.totalVulns = payloadMsg['stats']['total_vuln_over_time'][0]['total_vuln'];
                this.totalAssets = payloadMsg['assets'].length;
                this.assetTypes = payloadMsg['assets'];
            };
            // ws3.onmessage = (evt) => {
            //     const received_msg = evt.data;
            //     const payload = JSON.parse(received_msg);
            //     const payloadMsg = JSON.parse(payload.msg);
            //     const chartPie = this.$refs.chartPie;
            //     const seriesData = [];

            //     for(var i=0; i<payloadMsg['assets'].length; i++) {
            //         seriesData[i] = {
            //           name: payloadMsg['assets'][i]['name'],
            //           value: payloadMsg['assets'][i]['value']
            //         };

            //         // this.optionBar.series[0].data[categoryKey] = payloadMsg['assets'][i]['value'];
            //     }

            //     // Set data dynamically
            //     const option = {
            //       series: [{
            //           data: seriesData
            //       }]
            //     };

            //     chartPie.setOption(option);

            //     // console.log(this.optionBar.xAxis[0].data);
            //     // console.log(this.optionBar.series[0].data);
            // };
            // ws4.onmessage = (evt) => {
            //     const received_msg = evt.data;
            //     const payload = JSON.parse(received_msg);
            //     const payloadMsg = JSON.parse(payload.msg);
            //     const chartPie = this.$refs.chartPie2;
            //     const seriesData = [];
                
            //     for(var i=0; i<payloadMsg['assets'].length; i++) {
            //         seriesData[i] = {
            //           name: payloadMsg['assets'][i]['name'],
            //           value: payloadMsg['assets'][i]['value']
            //         };
            //     }

            //     // Set data dynamically
            //     const option = {
            //       legend: {
            //         bottom: '5%',
            //         left: 'center'
            //       },
            //       series: [{
            //           data: seriesData
            //       }]
            //     };

            //     chartPie.setOption(option);
            // };
            // ws5.onmessage = (evt) => {
            //     const received_msg = evt.data;
            //     const payload = JSON.parse(received_msg);
            //     const payloadMsg = JSON.parse(payload.msg);
            //     const chartBar = this.$refs.chartBar3;
            //     const xAxisData = [];
            //     const seriesData = [];

            //     for(var i=0; i<payloadMsg['assets'].length; i++) {
            //       if(this.optionBar.xAxis[0].data.includes(payloadMsg['assets'][i]['category']) == false) {
            //         xAxisData.push(payloadMsg['assets'][i]['category']);
            //       }

            //       const categoryKey = this.getKeyByValue(xAxisData, payloadMsg['assets'][i]['category']);

            //       if(categoryKey) {
            //         seriesData[categoryKey] = payloadMsg['assets'][i]['value'];
            //       }
            //     }

            //     // Set data dynamically
            //     const option = {
            //       xAxis: {
            //         data: xAxisData
            //       },
            //       series: [{
            //           data: seriesData
            //       }]
            //     };

            //     chartBar.setOption(option);
            // };
            // ws6.onmessage = (evt) => {
            //     const received_msg = evt.data;
            //     const payload = JSON.parse(received_msg);
            //     const payloadMsg = JSON.parse(payload.msg);
            //     const chartBar = this.$refs.chartBar4;
            //     const xAxisData = [];
            //     const seriesData = [];

            //     for(var i=0; i<payloadMsg['assets'].length; i++) {
            //       if(this.optionBar.xAxis[0].data.includes(payloadMsg['assets'][i]['category']) == false) {
            //         xAxisData.push(payloadMsg['assets'][i]['category']);
            //       }

            //       const categoryKey = this.getKeyByValue(xAxisData, payloadMsg['assets'][i]['category']);

            //       if(categoryKey) {
            //         seriesData[categoryKey] = payloadMsg['assets'][i]['value'];
            //       }
            //     }

            //     // Set data dynamically
            //     const option = {
            //       xAxis: {
            //         data: xAxisData
            //       },
            //       series: [{
            //           data: seriesData
            //       }]
            //     };

            //     chartBar.setOption(option);
            // };

            // ws.onclose = () => {
            //     console.log('Connection closed');
            // };
            ws2.onclose = () => {
                console.log('Connection 2 closed');
            };
            ws3.onclose = () => {
                console.log('Connection 3 closed');
            };
            // ws4.onclose = () => {
            //     console.log('Connection 4 closed');
            // };
            // ws5.onclose = () => {
            //     console.log('Connection 5 closed');
            // };
            // ws6.onclose = () => {
            //     console.log('Connection 6 closed');
            // };
        }
        else {
            console.log('WebSocket NOT supported by your Browser!');
        }
    },
    sendMsg(title) {
      const payload = { title: title };
      console.log(payload);

      // axios
      //   .post("http://localhost:3030/messages", payload)
      //   .then((response) => response.data)
      //   .catch((error) => {
      //     this.errorMessage = error.message;
      //     console.error("There was an error!", error);
      //   });
    },
    getKeyByValue(object, value) {
      // return Object.keys(object).find(key => object[key] === value);
      return Object.keys(object).filter(key => object[key] === value);
    }
  },
};
</script>


<style scoped>
.content-wrapper {
  min-height: 100%;
  background-color: #100C2A;
}
.chartPie,
.chartBar,
.chartLine,
.list {
  /* height: 43vh;
  min-height: 300px; */
  height: 50vh;
  min-height: 400px;
}
.standingsPie,
.standingsPie .v-data-table__wrapper {
  height: 300px;
}
.list {
  overflow-y: auto;
}
.v-card,
.list,
.list-item-group {
  background-color: #221c44 !important;
}
.list-item {
  color: #ffffff !important;
  background-color: #221c44 !important;
  border-bottom: 1px solid #332a66 !important;
}

@media (min-width: 600px) {
  .d-flex.align-items-end.flex-column {
    height: 50%;
  }
}
.card-scoreboard {
  height: 100%;
}
.card-scoreboard .v-list-item {
  min-height: auto !important;
}
.card-scoreboard,
.card-scoreboard *,
.card-scoreboard .v-list-item__subtitle,
.card-scoreboard .v-list-item__action-text {
  color: #ffffff !important;
}
.card-scoreboard .v-list-item__icon {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.v-icon.xx-large {
  font-size: 62px;
}

.data-table {
  background-color: #0c0920 !important;
}
.data-table th {
  color: #ffffff !important;
  background-color: #0c0920 !important;
  border-bottom: 1px solid #332a66 !important;
}
.data-table td {
  color: #ffffff !important;
  background-color: #221c44 !important;
  border-bottom: 1px solid #332a66 !important;
}

/* .btn {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
} */
</style>
