<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-container>
        <div class="d-flex align-center">
          <v-img
            width="60"
            class="shrink mr-3"
            contain
            src="@/assets/logo.png"
            alt="Vuetify Name"
          />

          <v-toolbar-title>Spider Visualizations</v-toolbar-title>
        </div>
      </v-container>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  }),
};
</script>
